# Spark Dataframe - Basics

The first step after installing spark is to import SparkSession

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Basic").getOrCreate()

You can use spark.read to load the content in the dataframe

In [3]:
df = spark.read.json('../data/people.json')

#### There are couple of functions to see details for the dataframes:

1. show function usually shows a preview of the dataframe and if the dataframe is fairly small then it will show the entire dataframe

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

2. printSchema function returns the schema of the dataframe. By default it allows null values in the columns and show nullable = true alongwith the data type which it infers itself.

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

3. If you want to get the list of columns only then you can just use .columns

In [15]:
df.columns

['age', 'name']

4. Describe function generate descriptive statistics that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values.

In [16]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [17]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

#### Schema for the dataframes can also be defined explicitly while reading data:

In [18]:
from pyspark.sql.types import (StructField, IntegerType,
                               StringType, StructType)

In [19]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]

In [20]:
final_struct = StructType(fields=data_schema)

You define the structure for the data by providing the schema generated using StructType

In [22]:
df = spark.read.json('./data/people.json', schema = final_struct)

In [23]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

#### Data Types

1. Columns

In [25]:
type(df['age'])

pyspark.sql.column.Column

In [26]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

2. Rows

In [27]:
type(df.head(2)[0])

pyspark.sql.types.Row

#### Derived Columns

1. New Columns

In [26]:
df.withColumn('double_age', df['age'] * 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

2. Renamed Columns

In [27]:
df.withColumnRenamed('age', 'new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

#### Running SQL queries on Spark Dataframe

In [28]:
df.createOrReplaceTempView('people')

In [29]:
results = spark.sql('Select * from people')

In [30]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
new_results = spark.sql('Select * from people where age=30')

In [32]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+